[user]
  name = Phillip Vo
  email = phillip.t.vo@gmail.com

[core]
  editor = nvim

[alias]
  aa = add --all
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep
  p = push
  st = status
