[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf
